body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #d362bb;
}

.top-banner {
    background-color: #126c6f;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-container {
    background: rgb(112, 99, 174);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(249, 248, 248, 0.1);
    text-align: center;
    width: 450px;
}

.gallery-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.caption {
    margin: 15px 0;
    font-size: 18px;
    font-weight: 500;
}

.gallery-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 25px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #286fd1;
    color: white;
    font-size: 16px;
    transition: background 0.2s;
}

button:hover {
    background-color: #65185c;
}

.footer-banner {
    background-color: #bd397d;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

